transformers==2.8.0
tika==1.24
requests==2.21.0
pandas==0.25.3
tqdm==4.31.1
prettytable==0.7.2
torch==1.5.0
numpy==1.16.1
scipy==1.4.1
google==2.0.3
rank_bm25==0.2
nltk==3.4.5
beautifulsoup4==4.9.0
scikit_learn==0.22.2.post1
